body{
    background-color: grey;
    pointer-events: all;
    user-select: none;
}
.rps{
    padding-top: 30px;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
}
.imga{
    border-radius: 50%;
    width: 300px;
    height: 300px;
}
.MOD{
    width: 90px;
    height: 40px;
}
.imga:hover{
    background-color: rgb(255, 255, 255);
    border-radius: 60%;
}
.ques{
    margin-top: 90px;
    display: flex;
    justify-content: center;
    border-radius: 60%;
}
.quess{
    background-image: url("assets/white.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: aliceblue;
    border-radius: 50%;
    width: 300px;
    height: 300px;
}
.q{
    visibility: visible;
    margin-top: 20%;
    margin-left: 15%;
    width: 200px;
    height: 200px;
    animation-name: la;
    animation-duration: 0.5s;
}


@keyframes spin{
    0% {margin-top: 0%;}
    5% {margin-top: 40%;}
    10% {margin-top: 0%;}
    15% {margin-top: 40%;}
    20% {margin-top: 0%;}
    25% {margin-top: 40%;}
    30% {margin-top: 0%;}
    35% {margin-top: 40%;}
    40% {margin-top: 0%;}
    45% {margin-top: 40%;}
    50% {margin-top: 0%;}
    55% {margin-top: 40%;}
    60% {margin-top: 0%;}
    65% {margin-top: 40%;}
    70% {margin-top: 0%;}
    75% {margin-top: 40%;}
    80% {margin-top: 0%;}
    85% {margin-top: 40%;}
    90% {margin-top: 0%;}
    95% {margin-top: 40%;}
    100% {margin-top: 0%;}
}